/* ==============================
   Логотип
   ============================== */

.support-label {
  position: fixed;
  top: 20px;
  left: 20px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  box-shadow: 0 2px 20px rgba(106, 90, 205, 0.2);
  font-weight: 600;
  font-size: 26px;
  color: black;
  background-color: f8f9fa;
  padding: 6px 12px;
  border-radius: 6px;
  z-index: 1001;
}