/* ==============================
   Логотип
   ============================== */

.support-label {
  position: fixed;
  top: 20px;
  left: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: black;
  background-color: FloralWhite;
  padding: 6px 12px;
  border-radius: 6px;
  z-index: 1001;
}