version: "3"
services:
  # vector database
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_db
    volumes:
      - /opt/search_service/qdrant_storage:/qdrant/storage
    ports:
      - "6333:6333"
    restart: unless-stopped

  # application
  search-service:
    image: naumen/support-search:1.0.0
    container_name: search-requests
    volumes:
      - /opt/search_service/config.yaml:/app/config.yaml
      - /opt/search_service/config.py:/app/config.py
    ports:
      - "5000:5000"
    command: uvicorn app:app --workers 1 --host 0.0.0.0 --port 5000
    restart: unless-stopped
